{
    auto_https off
    http_port 80
    log {
        output discard
    }
}

http://groupe6.127.0.0.1.nip.io {
    reverse_proxy flume-dashboard:5000 {
        header_up Host {host}
        header_up Upgrade {http.request.header.Upgrade}
        header_up Connection {http.request.header.Connection}
    }
    encode gzip
}

http://namenode.127.0.0.1.nip.io {
    reverse_proxy namenode:9870
}

http://yarn.127.0.0.1.nip.io {
    reverse_proxy resourcemanager:8088
}

http://flume.127.0.0.1.nip.io {
    reverse_proxy flume-dashboard:5000 {
        header_up Host {host}
        header_up Upgrade {http.request.header.Upgrade}
        header_up Connection {http.request.header.Connection}
    }
}

http://grafana.127.0.0.1.nip.io {
    reverse_proxy grafana:3000
}

http://crud.127.0.0.1.nip.io {
    reverse_proxy crud-app:4000
}
